.profile__username{
  max-width: 294px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:750px) {
  .profile__username{
    font-size: 27px;
    text-align: center;
    width: 189px;
    justify-self: end;
  }
  
}