.header__logo{
  max-width: 142px;
  max-height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width:800px) {
  .header__logo{
    max-height: 30px;
    max-width: 110px;
  }
  
}

@media screen and (max-width:550px) {
  .header__logo{
    height: 24.4px;
    width: 103.74px;
    padding-bottom: 31.6px;
    padding-left: 27px;
  }
  
}