.error {
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
  display: block;
  margin: 5px 36px 30px;
  box-sizing: border-box;
  height: 25px;
}

@media screen and (max-width:515px) {
  .error{
    margin: 5px 22px 30px;
    width: 238px;
  }
  
}